{% extends "base.html" %} {% block title %}{{title}}{% endblock %} {% block
content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow p-4">
        <h2 class="text-center mb-4">{{profile.name}}</h2>
        <div class="text-center mb-4">
          <img
            src="{{url_for('static', filename=profile.profile_picture)}}"
            alt="Profile Picture"
            class="img-fluid rounded-circle"
            style="width: 150px; height: 150px"
          />
        </div>
        <p class="text-center">{{profile.long_bio}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
